:root {
    --sn-stylekit-background-color: #ff0000 !important;
    --sn-stylekit-editor-background-color: #ff0000 !important;
    --sn-stylekit-foreground-color: #ffffff !important;
}
body, .app { background-color: #ff0000 !important; }
